<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serverdaten</title>
</head>
<body>
    <h1>Server {{ inventory_hostname }}</h1>
    <p><strong>Uptime:</strong> {{ uptime }}</p>
    <p><strong>Logs:</strong></p>
    <pre>{{ logs }}</pre>
</body>
</html>

